@config "./tailwind.config.js";
@import 'tailwindcss';

@theme {
  --font-sans: 'Rubik', sans-serif;
  /* Colors */
  --color-softBlue: hsl(231, 69%, 60%);
  --color-softRed: hsl(0, 94%, 66%);
  --color-grayishBlue: hsl(229, 8%, 60%);
  --color-veryDarkBlue: hsl(229, 31%, 21%);
  /* Spacing */
  --spacing-180: 32rem;
  --spacing-200: 34rem;
  --spacing-220: 36rem;
  --spacing-230: 37rem;
}

/* body {
  @apply font-sans;
} */

@media (min-width: 1020px) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply bg-softBlue absolute top-52 rounded-l-full;
  }
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply bg-softBlue absolute top-60 rounded-r-full;
  }
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg) brightness(101%) contrast(96%);
}
